<div class="blur"></div>
<section>
    <h1>Редактирование кода</h1>
    <form class="fields">
        <div class="text-input-area">
            <p>Запись верхнего уровня<a name="choose">выбрать</a></p>
            <input type="text" name="" #topLevel disabled>
            <p>Текстовый код</p>
            <input [(ngModel)]="currentRecord[3]" type="text" name="code" #code>
            <p>Полное наименование</p>
            <textarea [(ngModel)]="currentRecord[1]" #fullname name="full"></textarea>
            <!-- <input type="text" name=""> -->
            <p>Документ, регламентирующий начало действия</p>
            <!-- <input type="text" name=""> -->
            <textarea name="text" #doc disabled></textarea>
        </div>
        <div class="date-input-area">
            <p>Дата начала действия записи</p>
            <input [(ngModel)]="currentRecord[4]" type="date" name="date1" #recordStartDate>
            <p>Дата окончания действия записи</p>
            <input [(ngModel)]="currentRecord[5]" type="date" name="date2" #recordEndDate>
            <p>Дата окончания действия кода</p>
            <input [(ngModel)]="currentRecord[6]" type="date" name="date3" #codeEndDate>
        </div>
        <div class="buttons-wrap">		
            <a (click)="onEdit(topLevel.value, code.value, fullname.value, recordStartDate.value, 
            recordEndDate.value, codeEndDate.value)" class="filter-button button">Сохранить</a>
            <a routerLink="../" class="filter-button button">Отмена</a>
        </div>
    </form>	
</section>
