<!-- <div class="blur"></div> -->
<section>
  <h1>Добавление нового поля</h1>
  <form class="fields">
    <div class="text-input-area">
      <p>Имя поля</p>
      <input type="text" name="" #name>
      <select class="dropdown" #type>
        <option>Текстовое поле</option>
        <option>Дата</option>
        <option>Число</option>
      </select>
      <p>Описание</p>
      <textarea #description></textarea>
    </div>
    <div class="buttons-wrap">
      <a (click)="onAdd(name.value, type.value, description.value)" name="werg" class="filter-button button">Добавить</a>
      <!-- <a (click)="debug()" name="d" class="action-button"></a> -->
      <a routerLink="../" class="filter-button button">Отмена</a>
    </div>
  </form>
</section>
