<header class="header">
  <img class="logo" src="assets/img/home-logo.svg">
  <div class="user-status">
    <div><div>Пользователь</div>operator</div>
    <div><div>Полномочия</div>Корректировщик справочников</div>
  </div>
  <a class="main-nav-button button" routerLink="/list">К списку справочников</a>
</header>
<h1>Справочник видов страхования</h1>
<div class="panel-filters">
  <div>
    <p>Статус записи</p>
    <select class="dropdown">
      <option>Опубликованная</option>
      <option>Новая</option>
    </select>
  </div>
  <div>
    <p>Статус кода</p>
    <select class="dropdown">
      <option>Введен</option>
      <option>Публикация</option>
      <option>Закрыт</option>
    </select>
  </div>
  <div>
    <p>Измененных в период</p>
    <input type="date" name="date1" placeholder="ДАТА">
    <input type="date" name="date1" placeholder="ДАТА">
  </div>
  <div>
    <p>Действующих в период</p>
    <input type="date" name="date1" placeholder="ДАТА">
    <input type="date" name="date1" placeholder="ДАТА">
  </div>
  <div>
    <!-- <p>12</p> -->
    <a name="werg" class="filter-button button" href="">Применить</a>
    <a class="filter-button button" href="">Очистить</a>
  </div>
  <div>
    <input type="text" name="" placeholder="ПОИСК" class="search">
  </div>
</div>
<a href="" class="action-button add"></a>
<a href="" class="action-button submit"></a>
<a href="" class="action-button link"></a>
<a href="" class="action-button remove"></a>
<a href="" class="action-button attr disabled"></a>
<a href="" class="action-button date"></a>
<a href="" class="action-button add-field"></a>
<a href="" class="action-button history"></a>
<table>
  <thead>
  <tr>
    <th>Полное наименование<a href="" class="action-button edit"></a></th>
    <th>Статус записи<a href="" class="action-button edit"></a></th>
    <th>Код РУФР<a href="" class="action-button edit"></a></th>
    <th>Дата начала действия записи<a href="" class="action-button edit"></a></th>
    <th>Дата окончания действия записи<a href="" class="action-button edit"></a></th>
    <th>Дата окончания действия кода<a href="" class="action-button edit"></a></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Наименование записи в справочнике</td>
    <td>Опубликованная</td>
    <td>IC_PROP</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
  </tr>
  <tr>
    <td>Наименование записи в справочнике</td>
    <td>Опубликованная</td>
    <td>IC_CTR_OP</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
  </tr>
  <tr>
    <td>Наименование записи в справочнике</td>
    <td>Опубликованная</td>
    <td>IC_PROP</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
  </tr>
  <tr>
    <td>Наименование записи в справочнике</td>
    <td>Опубликованная</td>
    <td>IC_PROP</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
  </tr>
  <tr>
    <td>Наименование записи в справочнике</td>
    <td>Опубликованная</td>
    <td>IC_PROP</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
  </tr>
  <tr>
    <td>Наименование записи в справочнике</td>
    <td>Опубликованная</td>
    <td>IC_PROP</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
  </tr>
  <tr>
    <td>Наименование записи в справочнике</td>
    <td>Опубликованная</td>
    <td>IC_PROP</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
  </tr>
  <tr>
    <td>Наименование записи в справочнике</td>
    <td>Опубликованная</td>
    <td>IC_PROP</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
  </tr>
  <tr>
    <td>Наименование записи в справочнике</td>
    <td>Опубликованная</td>
    <td>IC_PROP</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
  </tr>
  <tr>
    <td>Наименование записи в справочнике</td>
    <td>Опубликованная</td>
    <td>IC_PROP</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
    <td>15.05.2005</td>
  </tr>
  </tbody>
</table>
<div class="table-nav">
  <a href="" class="action-button top-left"></a>
  <a href="" class="action-button left"></a>
  <input type="text" name="" value="1" class="">
  <p>/</p>
  <input type="text" name="" placeholder="3" class="" disabled>
  <a href="" class="action-button right"></a>
  <a href="" class="action-button top-right"></a>
</div>
