<header class="header">
  <img class="logo" src="assets/img/home-logo.svg">
  <div class="user-status">
    <div><div>Пользователь</div>{{ currentUser }}</div>
    <div><div>Полномочия</div>{{ currentRole }}</div>
  </div>
  <a class="main-nav-button button" routerLink="/list">К списку справочников</a>
</header>
<h1>Справочник видов страхования</h1>
<div class="panel-filters">
  <div>
    <p>Статус записи</p>
    <select class="dropdown">
      <option>Опубликованная</option>
      <option>Новая</option>
    </select>
  </div>
  <div>
    <p>Статус кода</p>
    <select class="dropdown">
      <option>Введен</option>
      <option>Публикация</option>
      <option>Закрыт</option>
    </select>
  </div>
  <div>
    <p>Измененных в период</p>
    <input type="date" name="date1" placeholder="ДАТА">
    <input type="date" name="date1" placeholder="ДАТА">
  </div>
  <div>
    <p>Действующих в период</p>
    <input type="date" name="date1" placeholder="ДАТА">
    <input type="date" name="date1" placeholder="ДАТА">
  </div>
  <div>
    <!-- <p>12</p> -->
    <a name="werg" class="filter-button button" href="">Применить</a>
    <a class="filter-button button" href="">Очистить</a>
  </div>
  <div>
    <input type="text" name="" placeholder="ПОИСК" class="search">
  </div>
</div>
<a (click)="debug()" class="action-button add"></a>
<a href="" class="action-button submit"></a>
<a href="" class="action-button link"></a>
<a href="" class="action-button remove"></a>
<a href="" class="action-button attr disabled"></a>
<a href="" class="action-button date"></a>
<a href="" class="action-button add-field"></a>
<a href="" class="action-button history"></a>
<table>
  <thead>
  <tr>
    <th>Полное наименование<a href="" class="action-button edit"></a></th>
    <th>Статус записи<a href="" class="action-button edit"></a></th>
    <th>Код РУФР<a href="" class="action-button edit"></a></th>
    <th>Дата начала действия записи<a href="" class="action-button edit"></a></th>
    <th>Дата окончания действия записи<a href="" class="action-button edit"></a></th>
    <th>Дата окончания действия кода<a href="" class="action-button edit"></a></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let td of displayData">
      <td>{{td.fullname}}</td>
      <td>{{td.recordStatus}}</td>
      <td>{{td.code}}</td>
      <td>{{td.recordStartDate}}</td>
      <td>{{td.recordEndDate}}</td>
      <td>{{td.codeEndDate}}</td>
    </tr>
  </tbody>
</table>
<div class="table-nav">
  <a (click)="onTableNavigation('top-left')" class="action-button top-left"></a>
  <a (click)="onTableNavigation('left')" class="action-button left"></a>
  <input (keydown.enter)="onTableNavigation('input', currentPage.value)" type="text" name="" [value]="tableNav.current" class="" #currentPage>
  <p>/</p>
  <input type="text" name="" placeholder="3" class="" disabled>
  <a (click)="onTableNavigation('right')" class="action-button right"></a>
  <a (click)="onTableNavigation('top-right')" class="action-button top-right"></a>
</div>
