<header class="header">
  <img class="logo" src="assets/img/home-logo.svg">
  <div class="user-status">
    <div><div>Пользователь</div>{{ session.currentUser }}</div>
    <div><div>Полномочия</div>{{ session.currentRole }}</div>
  </div>
  <a class="main-nav-button button" routerLink="/list">К списку справочников</a>
</header>
<h1>Справочник видов страхования</h1>
<app-confirm-action (confirmed)="removeRecords()" (closed)="confirmPopup = false" *ngIf="confirmPopup">Удалить выбранные элементы?</app-confirm-action>
<div class="panel-filters">
  <div>
    <p>Статус записи</p>
    <select class="dropdown" [(ngModel)]="filters.recordStatus">
      <option>Все</option>
      <option>Опубликованная</option>
      <option>Новая</option>
    </select>
  </div>
  <div>
    <p>Статус кода</p>
    <select class="dropdown" [(ngModel)]="filters.codeStatus">
      <option>Все</option>
      <option>Введен</option>
      <option>Закрыт</option>
    </select>
  </div>
  <div>
    <p>Измененных в период</p>
    <input [(ngModel)]="filters.changedFrom" type="date" name="date1" placeholder="ДАТА" disabled>
    <input [(ngModel)]="filters.changedTo" type="date" name="date1" placeholder="ДАТА" disabled>
  </div>
  <div>
    <p>Действующих в период</p>
    <input [(ngModel)]="filters.activeFrom" type="date" name="date1" placeholder="ДАТА">
    <input [(ngModel)]="filters.activeTo" type="date" name="date1" placeholder="ДАТА">
  </div>
  <div>
    <!-- <p>12</p> -->
    <a (click)="onApplyFilters()" class="filter-button button">Применить</a>
    <a (click)="onClearFilters()" class="filter-button button">Очистить</a>
  </div>
  <div>
    <input (keydown.enter)="onSearchEnter($event)" #searchInput type="text" name="" placeholder="ПОИСК" class="search">
  </div>
</div>
<a routerLink="add-record" class="action-button add" title="Добавить запись"></a>
<a routerLink="edit-record" (click)="onEditClick()" class="action-button edit" [class.disabled]="buttonsDisabled.edit" title="Изменить запись"></a>
<a class="action-button submit disabled" title="Публикация записи"></a>
<a class="action-button link disabled" title="Просмотр соответствий"></a>
<a (click)="onRemove()" class="action-button remove" [class.disabled]="buttonsDisabled.remove" title="Удалить запись"></a>
<a class="action-button attr disabled" title="Просмотр доп. атрибутов"></a>
<a routerLink="add-field" class="action-button add-field" title="Добавить поле"></a>
<a class="action-button history disabled" title="Просмотр истории кода"></a>
<!-- <a (click)="debug()" class="action-button"></a>-->
<table>
  <thead>
    <tr>
      <th *ngFor="let th of tableHeader.slice(2); let i=index" [id]="th.name">
        <a routerLink="edit-field" (click)="onEditField(i+1)" class="action-button edit" title="Изменить поле"></a>
        {{ th.description }}
      </th>
    </tr>
  <!-- <tr>
    <th>Полное наименование<a routerLink="edit-field" class="action-button edit"></a></th>
    <th>Статус записи<a class="action-button edit"></a></th>
    <th>Код РУФР<a class="action-button edit"></a></th>
    <th>Дата начала действия записи<a class="action-button edit"></a></th>
    <th>Дата окончания действия записи<a class="action-button edit"></a></th>
    <th>Дата окончания действия кода<a class="action-button edit"></a></th>
  </tr> -->
  </thead>
  <tbody #tableBody>
    <tr *ngFor="let tr of displayData">
      <td *ngFor="let td of tr.slice(2); let i=index">
        <ng-container *ngIf="i === 0">
          <input type="checkbox" [id]="tr[0]" (change)="onCheckboxChange()">
          <label [for]="tr[0]"></label>
        </ng-container>
        {{ td }}
      </td>
    </tr>
    <!-- <tr *ngFor="let td of displayData" >
      <td><input type="checkbox" [id]="td.id" (change)="onCheckboxChange()"><label [for]="td.id"></label>{{td.fullname}}</td>
      <td class="hidden">{{td.id}}</td>
      <td>{{td.recordStatus}}</td>
      <td>{{td.code}}</td>
      <td>{{td.recordStartDate}}</td>
      <td>{{td.recordEndDate}}</td>
      <td>{{td.codeEndDate}}</td>
    </tr> -->
  </tbody>
</table>
<div class="table-nav">
  <p>{{ info }}</p>
  <a (click)="onTableNavigation('top-left')" class="action-button top-left"></a>
  <a (click)="onTableNavigation('left')" class="action-button left"></a>
  <input (keydown.enter)="onTableNavigation('input', currentPage.value)" type="text" name="" [value]="tableNav.current" class="" #currentPage>
  <p>/</p>
  <input type="text" name="" [placeholder]="tableNav.max" class="" disabled>
  <a (click)="onTableNavigation('right')" class="action-button right"></a>
  <a (click)="onTableNavigation('top-right')" class="action-button top-right"></a>
</div>
