<div class="blur"></div>
<section>
  <h1>Редактирование поля</h1>
  <form class="fields">
    <div class="text-input-area">
      <p>Выбранное поле</p>
      <input type="text" name="" topLevel disabled>
      <a class="action-button rem#ove" title="Удалить поле"></a>
      <p>Описание</p>
      <textarea #fullname></textarea>
    </div>
    <div class="buttons-wrap">
      <a (click)="onEdit()" name="werg" class="filter-button button">Сохранить</a>
      <a routerLink="../" class="filter-button button">Отмена</a>
    </div>
  </form>
</section>
