<header class="header">
  <img class="logo" src="assets/img/home-logo.svg">
</header>
<h1>Надзор за участниками финансовых рынков</h1>
<h2>Учет применения мер воздействия к некредитным организациям</h2>
<p>Приветствую, <strong>{{currentUser}}</strong>!</p>
<p>Ваши полномочия:</p>
<select class="dropdown">
  <option>Корректировщик справочников</option>
  <option>Опция №2</option>
  <option>Другая роль</option>
</select>
<a class="main-button button" routerLink="list">Начать работу</a>

<footer>
  <a href="assets/img/home-logo.svg" download="logo">Скачать руководство пользователя</a>
  <div class="version">
    <a href="#">версия 2.0.0 от 21.12.2121</a>
    <p>* для получения информации об изменениях в данной версии кликните по номеру версии</p>
    <p>* при использовании Internet Explorer версии 9 и выше, в случае некорректоного отображения страниц приложения или некорректного функционирования приложения необходимо использовать “Просмотр в режиме совместимости”</p>
  </div>
</footer>
